:root {
  --font-size-label: 24px;
  --label-before-size: var(--font-size-label);
  --label-after-size: calc(var(--label-before-size) / 2.2);
  --label-after-top: calc(var(--label-before-size) / 3);
  --input-border-color: #006080;
}

body {
  font-family: 'Arial', 'Helvetica', sans-serif;
}

.content {
  position: relative;
}

.content__form {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.form {
  box-sizing: border-box;
  width: 550px;
  min-height: 500px;
  padding: 40px 15px;
  border: 10px solid #cdcbcd;
  background-color: #f2f2f2;
}

.form__item {
  font-size: var(--font-size-label);
  padding-left: 40px;
  margin: 20px 0;
}

.form__label-price {
  text-align: center;
}

input[type=radio] {
  display: none;
}

input[type=radio]+label {
  display: grid;
  grid-template-columns: 170px auto 70px 120px;
  position: relative;
  cursor: pointer;
}

input[type=radio]+label:hover::before {
  border: 2px solid #000000;
}

input[type=radio]+label::before {
  display: block;
  position: absolute;
  content: '';
  width: var(--label-before-size);
  height: var(--label-before-size);
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-color: #fff;
  top: 0px;
  left: -40px;
}

input[type=radio]:checked+label::after {
  display: block;
  position: absolute;
  content: '';
  background-color: var(--input-border-color);
  border-radius: 50%;
  width: var(--label-after-size);
  height: var(--label-after-size);
  top: var(--label-after-top);
  left: -31px;
}

input[type=radio]:checked+label::before {
  border: 2px solid var(--input-border-color);
  background-color: transparent;
}
